@model IEnumerable<Kino_Bilietu_Sistema.Models.Filmas>

@{
    ViewBag.Title = "Filmai";
}

<h2>Filmai</h2>

<p>
    @Html.ActionLink("Įkelti naują filmą", "Create", "Filmas", new { @class = "btn btn-success" })
</p>

<table class="table table-striped datatable">
    <thead>
        <tr style="background-color: lightblue">
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pavadinimas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.trukme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.aktoriai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rezisierius)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.zanras)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.aprasymas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.anonsas)
            </th>
            <th style="width: 18%"></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pavadinimas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.trukme)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.aktoriai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rezisierius)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.zanras)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.aprasymas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.anonsas)
            </td>
        </tr>
        }
    </tbody>

</table>
