@model Kino_Bilietu_Sistema.Views.Sale.SaleCreate
<html>
<head>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


            int column = Request["column"].AsInt();
            int row = Request["row"].AsInt();

            <div class="form-group">
                @Html.LabelFor(model => model.pavadinimas, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.pavadinimas, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.pavadinimas, "", new { @class = "text-danger" })
                </div>
            </div>
        int g = 0;
        for (var i = 0; i < row; i++)
        {

            for (var j = 0; j < column; j++)
            {
                //<input type="text" name="Name" value="" />
            <div class="col-md-10">

                Vieta: @i @j @Html.DropDownListFor(model => model.vietos_tipas, Model.vietos_tipasList, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.vietos_tipas, "", new { @class = "text-danger" })
                Kaina: @Html.EditorFor(model => model.kaina[g], new { htmlAttributes = new { @type = "number", @min = "0", @step = "0.01", @value = "0" } })
                @Html.HiddenFor(model => model.vietos_nr, new { @Value = j })
                @Html.HiddenFor(model => model.eiles_nr, new { @Value = i })
            </div>
                g++;
            }
                <br>
        }
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Išsaugoti" class="btn btn-success" />
                </div>
            </div>
        


    }
</body>
</html>