
@model IEnumerable<Kino_Bilietu_Sistema.Models.Sale>

@{
    ViewBag.Title = "Salės";
}

<h2>Salės</h2>

<p>
    @Html.ActionLink("Įkelti Salę", "SubCreate", "Sale", new { @class = "btn btn-success" })
</p>

<table class="table table-striped datatable">
    <thead>
        <tr style="background-color: lightblue">
            <th>
                @Html.DisplayNameFor(model => model.pavadinimas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vietu_sk)
            </th>
            
            <th style="width: 18%"></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.pavadinimas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.vietu_sk)
                </td>
              
            </tr>
        }
    </tbody>

</table>
